@CHARSET "UTF-8";

.root > div {
	overflow-y:auto !important;
}

.masterLayoutPanel {
	width: 960px;
	margin: 0 auto;
}

.topPanel {
	
}

.actionsPanel {
}

.headerPanel {
    height: 120px;
    margin: 0 auto;
    width: 960px;
	height: 120px;
}

.footerPanel {
	background-color: #777777;
	color: white;
}

.overflowhack {
	overflow: visible !important;
}

.contentPanel {
	margin: 0 auto;
	width: 960px;
	min-height: 450px;
}