@CHARSET "UTF-8";

<<<<<<< HEAD
.masterLayoutPanel {
	width:100%;
=======
body {
	margin: 0;
	padding: 0;
	color: #888888;
}

.masterLayoutPanel {
	width: 960px;
	margin: 0 auto;
>>>>>>> 9629e6d9c7b32e65882d3bcb6996414b8ba5ea22
}

.topPanel {
	
}

.actionsPanel {
	
}

.headerPanel {
<<<<<<< HEAD
    height: 120px;
    margin: 0 auto;
    width: 960px;
=======
	height: 120px;
>>>>>>> 9629e6d9c7b32e65882d3bcb6996414b8ba5ea22
}

.footerPanel {
	background-color: #777777;
	color: white;
}

.contentPanel {
<<<<<<< HEAD
	margin: 0 auto;
	width: 960px;
=======
>>>>>>> 9629e6d9c7b32e65882d3bcb6996414b8ba5ea22
	min-height: 450px;
}